<div class="alert alert-warning" 
*ngIf="mensagem.length>0">{{mensagem}}</div>
<div class="card"  *ngIf="mensagem.length<=0">
  <img class="card-img-top product-img" [src]="obj.imagem" alt="{{obj.nome}}">
    <div class="card-body">
      <h4 class="card-title">{{obj.nome}}</h4>
      <p class="card-text">{{obj.descritivo}}</p>
      <div *ngIf="obj.valorPromo>=obj.valor">
        R$ {{obj.valor}}<br>
      </div>
      <div *ngIf="obj.valorPromo<obj.valor">
        de: <s>R$ {{obj.valor}} </s><br>
        por: R${{obj.valorPromo}}
      </div>      
      <h5 *ngIf="obj.quantidade<=0">Sem Estoque</h5>
    </div>

    <div class="d-flex align-items-center justify-content-between mt-4 mb-4">
      <a routerLink="/" class="btn btn-outline-primary">
        <i class="bi bi-arrow-left"></i> Voltar
      </a>
      <div class="flex-grow-1 d-flex justify-content-center">
        <button class="btn btn-primary"
                *ngIf="obj.quantidade > 0"
                (click)="comprar(obj)">
          <i class="bi bi-cart-plus"></i> Comprar
        </button>
      </div>
    </div>    
    
  </div>
